<nav>
    <div class="navbar">
        <!-- hipervinculo con la url raiz-->
        <a href="/">
            <!-- logo -->
            <img src="/images/logo.png" alt="logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/inicio.svg" alt="Inicio Icon" width="40">
                    Inicio
                </a>
            </li>

            <li>
                <a href="/paises/todos">
                    <img src="/icons/inicio2.svg" alt="verTodosLosPaises.svg" width="40">
                    Paises
                </a>
            </li>

            <li>
                <a href="/paises/agregarPais">
                    <img src="/icons/agregarPais.svg" alt="agregarPais.svg" width="40">
                    Agregar Pais
                </a>
            </li>

            <div class="div">
                <li>
                    <form action="/paises/guardarTodos" method="POST">
                        <button class="btn1 btnPal">
                            <img src="/icons/guardarTodos1.svg" alt="guardarTodos.svg" width="20"> Guardar Paises
                        </button>
                    </form>
                </li>

                <li>
                    <form action="/paises/borrarTodos?_method=DELETE" method="POST">
                        <button class="btn2 btnPal">
                            <img src="/icons/eliminar.svg" alt="eliminarTodos.svg" width="20"> Eliminar Paises
                        </button>
                    </form>
                </li>
            </div>
        </ul>
    </div>
</nav>