<nav>
    <div class="navbar">
        <!-- hipervinculo con la url raiz-->
        <a href="/">
            <!-- logo -->
            <img src="/images/logo.png" alt="logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/inicio.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>

            <li>
                <a href="/paises/todos">
                    <img src="/icons/inicio2.svg" alt="verTodosLosPaises.svg">
                    Paises
                </a>
            </li>

            <li>
                <a href="/paises/agregarPais">
                    <img src="/icons/agregarPais.svg" alt="agregarPais.svg">
                    Agregar Pais
                </a>
            </li>

            <li>
                <a href="/paises/guardarTodos">
                    <img src="/icons/guardarTodos1.svg" alt="guardarTodos.svg">
                    Guardar Paises
                </a>
            </li>

            <li>
                <a href="/paises/borrarTodos">
                    <img src="/icons/eliminar.svg" alt="eliminarTodos.svg">
                    Eliminar Paises
                </a>
            </li>
        </ul>
    </div>
</nav>