<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <main>

        <section class="hero">
            <div class="texto_hero">
                <h1>Bienvenido</h1>
                <br><br>
                <p>
                    ¿Te gustaría aprender más sobre los paises de <br> 
                    nuestro continente donde se habla español?
                </p>
            </div>
        </section>

        <section class="section">
            <div>
                <p>
                    Recorre la web para saber más
                    <br> sobre paises hispanohablantes de América
                </p>
            </div>
        </section>
    </main>
</body>

</html>